html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
    box-sizing: border-box;

    /*
    * 整个app下的样式
    */
    #root {
        width: 100%;
        height: 100%;

        /*
        * 斗地主容器div下的样式
        */
        #x_doudizhu {
            width: 100%;
            height: 100%;
            position: relative;
            user-select: none;
            background: url(./app/static/table.jpg);
            background-repeat: repeat;

            /*
            * 倒计时钟下的样式
            */
            #clock {
                width: 60px;
                height: 40px;
                position: absolute;
                background-color: #333333;
                border: 5px solid #272E38;
                border-radius: 5px;
            }

            /*
            * 每张扑克牌的样式
            */
            .card {
                width: 114px;
                height: 176px;
                border-radius: 10px;
                background-image: url(./app/static/poker.png);
                position: absolute;
                transition: top .1s ease-in-out;
                top: 0;

                /*
                * 扑克牌是反面，也就是其他玩家的扑克牌的样式
                * 做法是添加isback类名，当具有这个类名的扑克牌div，用伪元素覆盖其本身
                */
                &.isback {
                    &::before {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        content: '';
                        border-radius: 10px;
                        background-image: url(./app/static/poker.png);
                        background-position: -1729px -671px;
                    }
                }

                /*
                * 扑克牌选中样式，选中的拍会向上移动一小段距离
                */
                &.selected {
                    top: -30px;
                }
            }

            /*
            * 按钮组的样式
            */
            #buttonBar {
                position: absolute;
                width: 600px;
                display: flex;
                justify-content: center;
                //border: 1px solid black;
                left: 50%;
                transform: translate(-50%, 0);
                bottom: 250px;

                span {
                    display: inline-block;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 8px;
                    margin: 0 15px;
                    background-color: #3FA2EF;
                    color: white;
                    font-size: 24px;
                    font-family: 'Courier New', Courier, monospace;
                    border-radius: 5px;
                    box-shadow: 3px 3px 3px 0 rgba(33, 33, 33, .3);
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(12, 138, 235);
                    }
                }

                .disabled {
                    background-color: rgb(197, 193, 193);
                    pointer-events: none;
                    color: rgb(102, 99, 99);
                }

                .mousedown {
                    transform: scale(0.95, 0.95);
                }
            }

            /*
            * 下一玩家，也就是左侧玩家的区域
            */
            #nextPlayer {
                width: 115px;
                height: 600px;
                position: absolute;
                left: 40px;
                top: 50%;
                transform: translate(0, -50%);
                //border: 1px solid black;

                &::before {
                    content: attr(playername);
                    position: absolute;
                    width: 130px;
                    height: 30px;
                    line-height: 30px;
                    display: block;
                    padding: 5px 10px;
                    font-size: 18px;
                    top: -30px;
                    left: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &::after {
                    content: attr(lord);
                    position: absolute;
                    height: 30px;
                    line-height: 30px;
                    display: block;
                    padding: 5px 10px;
                    font-size: 18px;
                    font-weight: bold;
                    color: rgb(168, 4, 4);
                    top: -65px;
                    left: 0;
                }
            }

            /*
            * 上一玩家，也就是左侧玩家的区域
            */
            #prevPlayer {
                width: 115px;
                height: 600px;
                position: absolute;
                right: 40px;
                top: 50%;
                transform: translate(0, -50%);
                // border: 1px solid black;

                &::before {
                    content: attr(playername);
                    position: absolute;
                    width: 130px;
                    height: 30px;
                    line-height: 30px;
                    display: block;
                    padding: 5px 10px;
                    font-size: 18px;
                    top: -30px;
                    left: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &::after {
                    content: attr(lord);
                    position: absolute;
                    height: 30px;
                    line-height: 30px;
                    display: block;
                    padding: 5px 10px;
                    font-size: 18px;
                    font-weight: bold;
                    color: rgb(168, 4, 4);
                    top: -65px;
                    left: 0;
                }
            }

            /*
            * 玩家的手牌区域
            */
            #mainPlayer {
                width: 1650px;
                height: 176px;
                position: absolute;
                left: 50%;
                bottom: 20px;
                transform: translate(-50%, 0);
                //border: 1px solid black;
                cursor: pointer;

                &::before {
                    content: attr(playername);
                    position: absolute;
                    height: 30px;
                    line-height: 30px;
                    display: block;
                    padding: 5px 10px;
                    font-size: 18px;
                    top: -35px;
                    left: 380px;
                }

                &::after {
                    content: attr(lord);
                    position: absolute;
                    height: 30px;
                    line-height: 30px;
                    display: block;
                    padding: 5px 10px;
                    font-size: 18px;
                    font-weight: bold;
                    color: rgb(168, 4, 4);
                    top: -35px;
                    left: 300px;
                }
            }

            /*
            * 底牌区域
            */
            #extraPool {
                width: 400px;
                height: 176px;
                position: absolute;
                left: 50%;
                top: 20px;
                transform: translate(-50%, 0);
                //border: 1px solid black;
                cursor: pointer;
            }

            /*
            * 中央的出牌区域
            */
            #cardPool {
                width: 1650px;
                height: 176px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                //border: 1px solid black;
                cursor: pointer;
            }

            /*
            * 聊天信息显示区
            */
            #chatBoard {
                width: 300px;
                height: 300px;
                box-sizing: border-box;
                position: absolute;
                left: 200px;
                top: 0;
                background-color: #151515;
                border-radius: 5px;
                box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.5);

                .chatDisplay {
                    width: 100%;
                    height: 260px;
                    box-shadow: 0px -3px 3px 0px rgb(116, 114, 114) inset;
                    overflow-x: hidden;
                    overflow-y: auto;


                    &::-webkit-scrollbar {
                        /*滚动条整体样式*/
                        width: 10px;
                        /*高宽分别对应横竖滚动条的尺寸*/
                        height: 1px;
                    }

                    &::-webkit-scrollbar-thumb {
                        /*滚动条里面小方块*/
                        border-radius: 10px;
                        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                        background: #535353;
                    }

                    &::-webkit-scrollbar-track {
                        /*滚动条里面轨道*/
                        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                        border-radius: 10px;
                        background: #EDEDED;
                    }

                    /*
                    * 聊天信息显示区下的每条玩家信息，都放在p标签里
                    */
                    p {
                        width: 100%;
                        word-wrap: break-word;
                        word-break: break-all;
                        white-space: normal;
                        margin: 3px;
                        padding: 0;
                        color: rgb(211, 207, 207);

                        span {
                            display: inline;
                            border: none;
                            line-height: 16px;
                        }

                        // 系统消息的颜色
                        .red {
                            color: red;
                        }

                        .orange {
                            color: orange;
                        }

                        .purple {
                            color: rgb(245, 44, 245);
                        }

                        .green {
                            color: rgb(112, 180, 10);
                        }

                        // 消息内容的颜色
                        .content {
                            color: rgb(223, 221, 221);
                        }
                    }
                }

                .chatInput {
                    background: -webkit-linear-gradient(#333, #222);
                    background: -moz-linear-gradient(#333, #222);
                    background: -o-linear-gradient(#333, #222);
                    background: -ms-linear-gradient(#333, #222);
                    background: linear-gradient(#333, #222);
                    border: 1px solid rgb(99, 98, 98);
                    border-radius: 5px 0 0 5px;
                    box-shadow: 0 2px 0 #000;
                    color: #fff;
                    display: block;
                    float: left;
                    font-family: 'Cabin', helvetica, arial, sans-serif;
                    font-size: 13px;
                    font-weight: 400;
                    height: 30px;
                    line-height: 30px;
                    margin: 0;
                    padding: 0 10px;
                    text-shadow: 0 -1px 0 #000;
                    width: 235px;
                    margin-top: 5px;

                    &:focus {
                        -webkit-animation: inputGlow 800ms ease-out infinite alternate;
                        -moz-animation: inputGlow 800ms ease-out infinite alternate;
                        -o-animation: inputGlow 800ms ease-out infinite alternate;
                        -ms-animation: inputGlow 800ms ease-out infinite alternate;
                        animation: inputGlow 800ms ease-out infinite alternate;
                        background: #222922;
                        background: -webkit-linear-gradient(#333933, #222922);
                        background: -moz-linear-gradient(#333933, #222922);
                        background: -o-linear-gradient(#333933, #222922);
                        background: -ms-linear-gradient(#333933, #222922);
                        background: linear-gradient(#333933, #222922);
                        border-color: #4F3DF0;
                        box-shadow: 0 0 5px rgba(11, 22, 236, 0.3), inset 0 0 5px rgba(11, 22, 236, .2), 0 2px 0 #000;
                        color: #efe;
                        outline: none;

                        @-webkit-keyframes inputGlow {
                            0% {
                                border-color: #4F3DF0;
                                box-shadow: 0 0 5px rgba(11, 22, 236, 0.3), inset 0 0 5px rgba(11, 22, 236, .2), 0 2px 0 #000;
                            }

                            100% {
                                border-color: #4F3DF0;
                                box-shadow: 0 0 20px rgba(11, 22, 236, .6), inset 0 0 10px rgba(11, 22, 236, .4), 0 2px 0 #000;
                            }
                        }

                        @-moz-keyframes inputGlow {
                            0% {
                                border-color: #4F3DF0;
                                box-shadow: 0 0 5px rgba(11, 22, 236, 0.3), inset 0 0 5px rgba(11, 22, 236, .2), 0 2px 0 #000;
                            }

                            100% {
                                border-color: #4F3DF0;
                                box-shadow: 0 0 20px rgba(11, 22, 236, .6), inset 0 0 10px rgba(11, 22, 236, .4), 0 2px 0 #000;
                            }
                        }

                        @-o-keyframes inputGlow {
                            0% {
                                border-color: #4F3DF0;
                                box-shadow: 0 0 5px rgba(11, 22, 236, 0.3), inset 0 0 5px rgba(11, 22, 236, .2), 0 2px 0 #000;
                            }

                            100% {
                                border-color: #4F3DF0;
                                box-shadow: 0 0 20px rgba(11, 22, 236, .6), inset 0 0 10px rgba(11, 22, 236, .4), 0 2px 0 #000;
                            }
                        }

                        @-ms-keyframes inputGlow {
                            0% {
                                border-color: #4F3DF0;
                                box-shadow: 0 0 5px rgba(11, 22, 236, 0.3), inset 0 0 5px rgba(11, 22, 236, .2), 0 2px 0 #000;
                            }

                            100% {
                                border-color: #4F3DF0;
                                box-shadow: 0 0 20px rgba(11, 22, 236, .6), inset 0 0 10px rgba(11, 22, 236, .4), 0 2px 0 #000;
                            }
                        }

                        @keyframes inputGlow {
                            0% {
                                border-color: #4F3DF0;
                                box-shadow: 0 0 5px rgba(11, 22, 236, 0.1), inset 0 0 5px rgba(11, 22, 236, .1), 0 2px 0 #000;
                            }

                            100% {
                                border-color: #4F3DF0;
                                box-shadow: 0 0 20px rgba(11, 22, 236, .9), inset 0 0 10px rgba(11, 22, 236, .8), 0 2px 0 #000;
                            }
                        }
                    }
                }

                span {
                    width: 40px;
                    height: 32px;
                    line-height: 32px;
                    box-sizing: border-box;
                    text-align: center;
                    display: inline-block;
                    background-color: white;
                    margin-top: 5px;
                    border-radius: 0 5px 5px 0;
                    cursor: pointer;
                    font-size: 14px;
                    color: rgb(223, 221, 221);
                    background: #151515;
                    border: 1px solid #444;

                    &:hover {
                        background: linear-gradient(#393939, #292929);
                        color: #5f5;
                    }
                }

                .mousedown {
                    transform: scale(0.95, 0.95);
                }
            }
        }
    }

    /*
    * 公共样式
    */
    .hide {
        display: none;
    }

    /*
    * 信息弹窗的样式
    */
    .alertBox {
        min-width: 300px;
        height: 150px;
        line-height: 150px;
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        box-shadow: 0 0 5px rgba(231, 254, 237, 0.7);
        /* border: 1px solid rgba(0, 0, 0, 1); */
        color: rgba(255, 255, 255, 1);
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        backface-visibility: visible;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 10%;
            height: 10%;
            border-top: 3px solid rgba(238, 249, 241, 0.7);
            border-left: 3px solid rgba(238, 249, 241, 0.7);
            top: 0;
            left: 0;
            border-radius: 2px;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 10%;
            height: 10%;
            border-right: 3px solid rgba(238, 249, 241, 0.7);
            border-bottom: 3px solid rgba(238, 249, 241, 0.7);
            right: 0;
            bottom: 0;
            border-radius: 2px;
        }
    }

    /*
    * 昵称输入框的样式
    */
    .nameInput {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        left: 0;
        top: 0;

        .inputBox {
            width: 800px;
            height: 100px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(212, 242, 232);
            box-shadow: 8px 8px 5px 1px rgba(0, 0, 0, .7);
            border-radius: 5px;

            .inputTip {
                color: rgb(27, 24, 24);
                margin: 5px auto;
                text-align: center;
            }

            .input {
                height: 50px;
                width: 500px;
                border: none;
                border-bottom: 1px solid gray;
                outline: none;
                line-height: 50px;
                font-size: 26px;
                margin-left: 50px;
                border-radius: 5px 0 0 5px;
                background: rgb(241, 240, 240);
                color: gray;
            }

            .nameInputBtn {
                height: 55px;
                width: 60px;
                font-size: 20px;
                border-radius: 5px;
                outline: none;
                margin-left: -5px;
            }
        }

    }

    .info {
        background-color: rgba(73, 160, 154, 0.5);
    }

    .win {
        background-color: rgba(74, 73, 160, 0.5);
    }

    .lose {
        background-color: rgba(75, 77, 76, 0.5);
    }

    .warn {
        background-color: rgba(206, 99, 72, 0.5);
    }
}