html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
    box-sizing: border-box;
    #root {
        width: 100%;
        height: 100%;
        #x_doudizhu {
            width: 100%;
            height: 100%;
            position: relative;
            #clock {
                width: 200px;
                height: 100px;
                position: absolute;
                top: 0;
                left: 1000px;
                background-color: #333333;
                border: 5px solid #272E38;
                border-radius: 5px;
            }
        }
    }
}